[2018-12-03 15:39] #326 closed

[2018-12-04 02:45] zulucrypto commented on #421
@tsusanka - It looks like this is a bug somewhere in Connect. tl;dr is that if you run the transaction that istrau2 provided you're asked to confirm an amount of `92233.7203685` when it should be `922337203685.4775`. Notes are below since I didn't figure that out until I did a lot of other stuff!

I checked out the master branch of python trezor, trezor-mcu, and trezor core and then found the acco

[2018-12-04 08:45] tsusanka commented on #421
That's great I believe we're finally getting somewhere.

Also thanks to the issue on [Stellar's SDK](https://github.com/stellar/js-stellar-sdk/issues/211) I've finally realized why the data before signing differed. The reason is that both trezor firmware and Connect work with [stroops](https://www.stellar.org/developers/guides/concepts/assets.html#one-stroop-multiple-stroops) rather than lumens. T

[2018-12-04 10:41] pankrats opened #430 "If you set/change PIN you are asked to enter it again on the next action (i.e. Label Change)"
How to reproduce:
1) Go to Basic Settings -> PIN protection
2) Change/Enable PIN
3) Go to Label -> Change Label
Result: You are required to enter PIN again.

<img width="599" alt="screen shot 2018-12-04 at 11 24 40" src="https://user-images.githubusercontent.com/31442634/49436463-7f352580-f7b9-11e8-859f-4f53c5d34d2b.png">

[2018-12-04 17:33] istrau2 commented on #421
@tsusanka @zulucrypto Ok, I tried this tx:

`{"source":"GDNAQREX5VOHMYZ2QDHDY6A7XR2OYIE67EETL5MFCT6TCGHYA7YHACEW","fee":100,"sequence":"89703140756029445","operations":[{"type":"changeTrust","line":{"code":"SLT","issuer":"GCKA6K5PCQ6PNF5RQBF7PQDJWRHO6UOGFMRLK3DYHDOI244V47XKQ4GP","type":1},"limit":"9223372036854775000"}],"memo":{"type":0}}`

The emulator shows 922337203685.4774784 on the confirmati

[2018-12-05 14:20] slush0 opened #431 "initialization: Select words from list instead of typing them"
Currently, during onboarding process, user have to write two words from wordlist back to device, to prove he wrote down the recovery seed. Instead of this, show dialog to ask user to select word on x-th position from his recovery seed:

"Word on 3.position?
cat
stick
slush
all"

I propose to pick all four (maybe more, if it fits the screen layout) words from generated seed, instead of displaying j

[2018-12-05 14:28] slush0 opened #432 "Delete storage after 6 failed PIN attempts & show counter"
After 3rd unsuccessful PIN attempt, start countdown of remaining attempts as an UI dialog just before rendeing PIN pad.

[2018-12-05 15:20] pankrats opened #433 "When I enter passphrase on device and confirm it takes too long for screen to disappear"
When I enter the passphrase and confirm the screen seems to be stuck for 2-3 seconds before it disappears.
![photo_2018-12-05_16-19-59](https://user-images.githubusercontent.com/31442634/49523277-b7b42c80-f8a9-11e8-8862-db49a4870fc9.jpg)

[2018-12-13 15:06] #343 closed

[2018-12-14 18:04] refi93 opened #435 "Float amounts displayed differently on emulator and on the real device"
We noticed some amounts displayed on Trezor were a bit off and we managed to isolate the issue. I "hacked" a bit the address verification prompt to display the problematic number instead of the address on Cardano to showcase it:

[code]
To try it out you just have to load the modified fw into the emulator/Trezor, go to adalite.io, enter the wallet by the Trezor and in the "Receive" tab click "veri

[2018-12-14 18:09] prusnak commented on #435
Please never use float for amounts. There is a function `trezor.utils.format_amount` for this:

https://github.com/trezor/trezor-core/blob/4c46a055ff5481326bade62af1b6364b5e45acec/src/trezor/utils.py#L50

[2018-12-14 19:59] prusnak opened #436 "use format_amount for formatting currency values"
Context: https://github.com/trezor/trezor-core/issues/435

* Cardano will be fixed via https://github.com/trezor/trezor-core/pull/417
* Lisk needs fix: https://github.com/trezor/trezor-core/blob/4c46a055ff5481326bade62af1b6364b5e45acec/src/apps/lisk/layout.py#L54-L55
* Monero needs fix: https://github.com/trezor/trezor-core/blob/4c46a055ff5481326bade62af1b6364b5e45acec/src/apps/monero/layout/commo

[2018-12-15 09:44] 0x5826 commented on #402
I upgraded v2.0.10, I tested it but the issue always happen on macbookpro macOS 10.14.2.
check the video [https://youtu.be/cbt5-aXAhCw](url)
Is it my laptop usb voltage problem or other problem?

[2018-12-15 11:54] prusnak commented on #402
It's really weird this happens only on your MacBook, but desktop PC is fine. We'll be tuning sensitivity of the touchscreen in the upcoming release, so this might get fixed too.

[2018-12-15 12:31] prusnak opened #437 "U2F: enhance u2fhid_wink behavior"
Do we want to improve this? See the discussion in https://github.com/trezor/trezor-mcu/issues/436

[2018-12-16 22:04] prusnak commented on #402
@0x5826 we'll handle this in https://github.com/trezor/trezor-core/pull/439

[2018-12-17 23:36] prusnak opened #440 "test_apps.monero.bulletproof.py fails after updating trezor-crypto submodule"
https://travis-ci.org/trezor/trezor-core/builds/469270397

[code]

It is related to https://github.com/trezor/trezor-crypto/commit/c5227fdb969520de41664bfa4b66e74e718d72c4 (the error disappears when I revert this commit in `vendor/trezor-crypto`).

[2018-12-17 23:39] prusnak commented on #440
Straightforward fix would be to use RNG for trezor-core emulator using `srand`/`rand` from glibc, but I am hesitant to do this unless we fully understand the problem and decide that's the correct thing to do.

[2018-12-18 09:21] tsusanka commented on #440
@ph4r05 we have changed the trezor-crypto RNG not to be intialized with time, but with seed = 0 and we use [LCG](https://en.wikipedia.org/wiki/Linear_congruential_generator), see https://github.com/trezor/trezor-crypto/commit/c5227fdb969520de41664bfa4b66e74e718d72c4 . Is the fix for Monero tests straightforward? We don't mind doing it ourselves, just in case you have some feedback on this..

[2018-12-18 10:38] prusnak commented on #440
I would vote against using Mersenne Twister, we need it to be simple (because we are reimplementing it in pure Python too). Let's just pick LCG with longer period, which outputs 32 usable bits, so we can drop random8() completely and use LCG directly in random32().

[2018-12-18 10:39] tsusanka commented on #440
This is exactly what I wanted to write. I don't think we are calling random8 anywhere anyway, so this is a reasonable option. I'll do it

[2018-12-18 10:40] ph4r05 commented on #440
OK no problem, your call.

Recently I addressed the same problem, we were optimizing python prototype in Python porting to C++ and NTL. We verified it by using MT19937 with the same seed.

Python version of MT: https://repl.it/@DusanKlinec/MersenneTwisterPython
C++ is trivial: https://repl.it/@DusanKlinec/MersenneTwisterCpp

[2018-12-18 10:40] tsusanka commented on #440
I think Python uses Mersenne Twister anyway, so we could do it. But I still think option 1 is quicker and easier

[2018-12-18 11:09] tsusanka commented on #440
I can confirm this fix (see [PR](https://github.com/trezor/trezor-crypto/pull/191)) fixes this issue.

[2018-12-18 12:14] #440 closed

[2018-12-18 22:43] prusnak opened #441 "bootloader: return non-empty serial number"
Reporter from Reddit:

[code]

[2018-12-19 09:27] tsusanka opened #443 "Ripple: add destination tag and memo"
Brought up by https://github.com/trezor/connect/issues/283 .

Destination tag is important for exchanges.

[2018-12-19 12:40] matejcik commented on #441
TT bootloader does return non-empty serial number, unlike T1. It's using the string `000000000000000000000000`

[2018-12-19 13:37] prusnak commented on #441
Thanks

[2018-12-19 13:37] #441 closed

[2018-12-23 19:18] bmiller59 opened #444 "Enable firmware updates without need for access to mnemonic seed"
I have my mnemonic seed stored in a secure off-site location. It is intentionally a big hassle, for security reasons, to go and retrieve this seed.

I would like to be able to update my firmware without having access to my seed. Requiring me to have access to the seed creates a security catch-22.
* If I do not upgrade the firmware, I do not benefit from security upgrades
* If I do upgrade the firm

[2018-12-23 19:41] prusnak commented on #444
You can upgrade without the seed if you take full responsibility.

[2018-12-23 19:41] #444 closed

[2018-12-23 20:14] bmiller59 commented on #444
Good to know.

So to summarize:
- Upgrade CAN proceed without need for access to seed despite the warning to have seed available during the process
- After upgrade, my wallet and keys will be intact if all went as expected
- If anything went wrong and I need to wipe/restore my Trezor from scratch I could then retrieve my seed and re-set up my Trezor fresh with it at that point

That is what you ar

[2018-12-23 20:47] prusnak commented on #444
1) yes, it can
2) yes, in 99.99% cases; the warning is there for the rest 0.01% cases when the update can brick your device (i.e. USB cable fault, etc).
3) yes

[2018-12-31 00:38] MelbourneDeveloper opened #446 "Trezor One - 1.7.1 Issues - Hangs on Second Use - Can't Upgrade Firmware"
I am getting issues with Trezor 1.7.1 firmware. I am able to connect to the device once and read/write, but the second time it fails. This bug occurs in LibUsbDotNet, WinUsbNet, and Trezor.Net. However, I can't tell if this is a problem with the latest firmware because I can't upgrade. I am trying to use the beta wallet to upgrade the firmware, but when I do, I get this problem:

![image](https://

[2018-12-31 00:49] MelbourneDeveloper commented on #446
To recreate the issue I am having with firmware 1.7.1 you can see the problem with LibUsbDotNet. The problem is NOT specific to LibUsb. This problem is occurring with any WinUSB API calls. But, it is a problem with any LibUsb based code on Windows. This may be fixed in the later version of 1.7.x

- Clone this repo: https://github.com/MelbourneDeveloper/LibUsbDotNet.git
- Open the solution in Visua

[2018-12-31 16:48] istrau2 commented on #421
@prusnak @tsusanka  Any updates on this?

[2019-01-01 16:30] tsusanka commented on #421
I'll look into this next week at latest

[2019-01-01 17:18] istrau2 commented on #421
@tsusanka great, looking forward. We are waiting on this to release Trezor support to all Stellarport users.

[2019-01-02 11:20] prusnak commented on #446
This was fixed in firmware 1.7.3. Please upgrade. There is a hack how to workaround this issue for lower firmware versions, so you can perform the upgrade: https://wiki.trezor.io/Device_not_recognized_in_bootloader_mode

[2019-01-02 11:20] #446 closed

[2019-01-03 23:20] prusnak opened #447 "stellar: send does not work"
https://www.reddit.com/r/Stellar/comments/abynfg/send_fails_with_stellar_account_viewer/

We have to check this, whether this is correct and whether it affects T1 or not.

[2019-01-04 08:49] pankrats commented on #447
Yes, exactly the same issue with T1 also:

[2019-01-04 08:58] bosomt commented on #447
I already reported it to Stellar devs here: https://github.com/stellar/go/issues/795
No response.
@tsusanka told me that he will check it

[2019-01-04 08:58] pankrats commented on #447
reported here https://github.com/stellar/go/issues/795

[2019-01-04 10:22] tsusanka commented on #447
Will do on Monday

[2019-01-07 14:30] Enegnei opened #449 "Enabling coin / UTXO management features"
Two years ago, Alena was asked if Trezor would enable the ability to spend from individual bitcoin addresses instead of all addresses within each 'Account.' I believe she said that coin / UTXO management stuff was considered "an advanced feature" and not on the roadmap. Is that still the case?

Currently, since users are limited to 10 'Accounts' (+ any leftover legacy 'Accounts'), this would mean

[2019-01-07 16:06] prusnak commented on #449
Yes, it is still the case. You can do this in a wallet aimed for geeks such as Electrum.

[2019-01-07 16:06] #449 closed

[2019-01-07 23:46] reqlez commented on #421
Is it possible this is related? https://github.com/trezor/stellar-account-viewer/issues/2

What is interesting is that this code works... https://kolontsov.github.io/stellar-trezor-inflation/  but not the official Account Viewer that Trezor forked ... so, not sure what's going on with that. I used that code above to sign a message for the inflation destination successfully, it said it accepted it,

[2019-01-09 08:21] tsusanka commented on #443
Destination tag implemented in https://github.com/trezor/trezor-core/commit/bbef658c32539b1781e80033214217f5be2f3424

[2019-01-09 10:12] tsusanka commented on #447
Summary:

- trezor.io/stellar is buggy. When attempting to sign a transaction Trezor does not display anything so it most likely does not communicate with it properly.
  - @prusnak will try to update trezor.io/stellar to use newer Connect, but it's a bit of pain since stellar uses [interstellar](https://www.npmjs.com/package/interstellar) which is now deprecated.

- Singing using the [Connect Expl

[2019-01-09 10:21] tsusanka commented on #447
What confuses me a little is that I'm not getting the same behaviour as reported by the reddit user and @pankrats. But let's see if we succeed to update the account viewer.

[2019-01-09 10:23] tsusanka commented on #421
@reqlez I think these issues are not connected, see https://github.com/trezor/trezor-core/issues/447 for more details. Let's keep this issue for the changeTrustOp problems only.

[2019-01-09 14:20] #415 closed

[2019-01-09 20:50] tsusanka commented on #447
Seems fixed :tada:. @bosomt could you pls check if it works for both T1 and TT? I've tried with T emulator only

[2019-01-09 21:51] reqlez commented on #447
I have a T, instructions to test? if you want I can do that as well. is this now live on trezor.io/stellar ?

[2019-01-09 21:57] tsusanka commented on #447
Sure, if you want just give it a go. trezor.io/stellar should be working now

[2019-01-09 21:57] reqlez commented on #447
Actually, just tested with T and Chrome ( wihout the bridge software installed, if that matters ). Works great !  May I suggest getting the inflation destination code on the page going as well ;-)

[2019-01-10 08:43] tsusanka commented on #447
Apparently, there is still an issue with the account viewer when sending to a different address than yours. I'll investigate

[2019-01-10 08:53] reqlez commented on #447
I sent to a different address when I tested...

[2019-01-10 12:22] jpochyla commented on #436
Fixed by e40e3c1fb and 3a408591d

[2019-01-10 12:22] #436 closed

[2019-01-10 14:56] tsusanka commented on #447
There was a problem with addresses that did not have any lumens on it yet. The Payment op was called instead of the CreateAccount op. We already have a fix and it will be deployed soon. I'll close this issue then

[2019-01-10 17:20] prusnak commented on #447
Fix deployed. Try trezor.io/stellar whether it works.

[2019-01-10 19:58] ca333 opened #454 "utilization of random32() from rand.c"
While rebuilding trezor-core for Komodo integration tests i noticed the warning ref. `rand.c`:

Now random32() is indeed defined in there. Do you suggest using a diff. lib/func for this?

[2019-01-10 20:38] prusnak commented on #454
This is expected if you build the emulator.

[2019-01-10 20:38] #454 closed

[2019-01-11 07:35] bosomt commented on #447
consider it fixed.
Transactions are working fine now !

[2019-01-11 09:23] tsusanka commented on #447
Confirmed :tada:

[2019-01-11 09:23] #447 closed

[2019-01-11 12:15] tsusanka opened #456 "Swap derive node and validate path checks"

[2019-01-11 12:37] tsusanka commented on #345
This is implemented in `tsusanka/eth-get-public-key` (along with Ethereum GetPublicKey) and will be merged when frontend is completely ready. I'm closing here, and we'll track in https://github.com/trezor/trezor-core/issues/406

[2019-01-11 12:37] #345 closed

[2019-01-11 12:38] tsusanka commented on #406
This is implemented in `tsusanka/eth-get-public-key` along with GetPublicKey for Ethereum and script type checks

[2019-01-11 12:44] tsusanka commented on #405
What was mostly needed was a EthereumGetPublicKey. This is implemented in the `tsusanka/eth-get-public-key` branch along some GetPublicKey validation checks. This waits for #406 to be merged.

Also, since no discussion occured on GetXPub/GetNode vs. GetPublicKey let's close this now and we can get back to it later if desirable.

[2019-01-11 12:44] #405 closed

[2019-01-11 12:55] tsusanka commented on #456
I would like to do this after we merge https://github.com/trezor/trezor-core/issues/406

[2019-01-11 13:09] tsusanka commented on #421
@istrau2 do you by any chance have any public beta where I could try trezor with the ChangeTrustOp easily? Our trezor.io/stellar currently does not support this op, so it might speed things a bit.

[2019-01-11 14:36] jpochyla commented on #419
Reproduced. The button task seems to be suffocating the loader-rendering task. I'll look into it.

[2019-01-11 15:31] tsusanka commented on #421
So I've tried this using the [Stellar's Python SDK](https://github.com/StellarCN/py-stellar-base) and trezor generates the same pre-signature hash as the SDK does for the ChangeTrustOp. So I doubt this is a firmware bug.

So the only other option is that this is a Connect issue, but the fields are defined correctly. @istrau2 could you please try if you're still having this issue? Please use the ne

[2019-01-12 06:53] karel-3d opened #457 "u2f counter not set after recovery, preventing some cases of u2f"
u2f counter is not set after discovery, even when it's sent in  RecoveryDevice message

To reproduce:
- do a recovery device on webwallet
- go to https://demo.yubico.com/u2f?tab=login and do the example login, counter will be 1, even when the u2f_counter in the RecoveryDevice is the current timestamp

This prevents use of trezor as u2f after recovery on websites that check the counter (such as Goo

[2019-01-12 06:56] karel-3d commented on #457
yep it seems the u2f counter is ignored here and never saved to storage

https://github.com/trezor/trezor-core/blob/0ff7034e3770e4773e9e981fa485904e51bba5cf/src/apps/management/recovery_device.py#L59

[2019-01-12 12:50] prusnak commented on #457
Correct, trezor-mcu does set U2F counter via Recovery message (https://github.com/trezor/trezor-mcu/blob/7dce7bd92d65726e08e0311f9821f6cc966b44a1/firmware/recovery.c#L478)

[2019-01-14 13:18] tsusanka commented on #443
After short research it seems to me that exchanges use a Destination tag instead of a Memo. Because [Memo consists](https://developers.ripple.com/transaction-common-fields.html#memos-field) of three items and it is not exactly clear what each of them should be used for, I think it is better to postpone this feature until we see some concrete example usage.

-------

For future reference: you can t

[2019-01-14 13:18] #443 closed

[2019-01-14 13:19] tsusanka commented on #443
Destination tag is already implemented so I'm closing this.

[2019-01-14 16:59] prusnak commented on #433
Fixed in #453

[2019-01-14 16:59] #433 closed

[2019-01-15 12:47] viaj3ro opened #460 "Trezor One: serious issues with latest firmware (1.7.3)"
I have 3 Trezor One. Unfortunately I've installed the latest firmware on two of them. Now every single time I plug them in, I can't disconnect them anymore. The wallet will just freeze at:

When I try to reconnect after, wallet.trezor.io asks me every time to install the Trezor Bridge which is already installed. Only after installing it again, I get access. But only until I try to disconnect.

The

[2019-01-15 12:51] tsusanka commented on #456
Moved to 2.0.12 because frontend won't be ready in time (Connect and its users)

[2019-01-15 12:55] matejcik commented on #460
This is not the right place to report this kind of issue: `trezor-core` is code for TT, not One, and your issue seems more related to the wallet software, or possibly bridge.

Please go through https://trezor.io/support/ where they will help triage the problem and make bug reports if appropriate.

[2019-01-15 12:55] #460 closed

[2019-01-15 14:57] jpochyla commented on #401
Failed to replicate this with recent 2.0.10. Can you confirm the bug is still present?

[2019-01-15 15:49] jpochyla commented on #400
Could not replicate on 2.0.10, closing.

[2019-01-15 15:49] #400 closed

[2019-01-15 16:02] jpochyla commented on #457
Fixed in 2d70d5d

[2019-01-15 16:02] #457 closed

[2019-01-15 17:09] prusnak commented on #298
Already done

[2019-01-15 17:09] #298 closed

[2019-01-15 17:13] prusnak commented on #295
@vladimirvolek is this still a thing?

[2019-01-15 23:15] 0x5826 commented on #401
solved, thanks!

Jan Pochyla <notifications@github.com>于2019年1月15日 周二下午10:57写道：

[2019-01-16 00:40] s-a-y opened #462 "Stellar: source account does not match address_n"
Hey,
Can we remove this check
https://github.com/trezor/trezor-core/blob/c1bf6abbeea0a83a31dfacdc76ff7598b0e0a025/src/apps/stellar/sign_tx.py#L51

Use cases:
1) Using channel accounts
https://www.stellar.org/developers/guides/channels.html
Source account of transaction is different from the source of operation (and trezor is source of operation). I still need to be able to sign such transaction

2

[2019-01-16 04:43] s-a-y opened #463 "Stellar: add signer operation"
I'm using connect to sign transaction to add signer to the account
I was under impression, that public keys were replaced by strings for easy handling, but probably not everywhere, because operation
<img width="381" alt="screen shot 2019-01-16 at 3 35 31 pm" src="https://user-images.githubusercontent.com/1667781/51226657-7cc30f80-19a4-11e9-9605-1e234b9e69e8.png">
fails with following error
<img wi

[2019-01-16 10:20] #401 closed

[2019-01-16 11:36] prusnak commented on #462
@zulucrypto any comments on this? I guess we have the same check in trezor-mcu (Trezor One)

[2019-01-16 12:30] tsusanka commented on #462
I think we can do this. The user should confirm the source account however. So, how about the check stays, but when it fails it will not be an error, but we rather inform the user that the source account is equal to XY and does not conform to Trezor's. @s-a-y what do you think?

[2019-01-16 13:03] s-a-y commented on #462
works for me, maybe worth emphasizing as well, that source account is paying transaction fee, not necessarily trezor user.

[2019-01-16 13:59] tsusanka commented on #463
If I've understood the [documentation](https://www.stellar.org/developers/guides/concepts/multi-sig.html#alternate-signature-types) correctly, it states that the additional signer can be either

1. public key
1. pre-authorized transaction
1. hash

I believe this is the reason why the `signer_key` field is bytes and not string, because you can specify hash and not an address. The `signer_type` deno

[2019-01-16 14:07] tsusanka commented on #462
I see. Maybe in that case (source account != our account) we can just modify the message from `Pay x fee` to `Set x fee` or something like that.

[2019-01-16 19:47] istrau2 commented on #421
@tsusanka Hi, how can I get in touch with you (I tried gitter and telegram)?

[2019-01-16 22:10] s-a-y commented on #463
Your explanation makes perfect sense, I guess I can make a simple utility library around trezor connect that would take Transaction from stellar-sdk and convert parameters to types required by trezor.

---

a) is definitely preferred, no user will be able to confirm if address is correct in hex.

---

I'm using
[code]

I wasn't sure, but now you've got the same representation as shown above on 3rd

[2019-01-17 08:57] tsusanka commented on #421
@istrau2 I'll be on gitter

[2019-01-17 11:09] s-a-y commented on #463
I only state that my hex representation of the address matches the one you posted. But produced signature is still invalid

[2019-01-17 12:41] tsusanka commented on #463
I think I got it, I'll push soon.

[2019-01-17 13:36] #463 closed

[2019-01-17 15:46] tsusanka commented on #462
I forgot we are already prompting the user at the beginning:

![screenshot from 2019-01-17 16-40-17](https://user-images.githubusercontent.com/1835345/51329979-e27fcc00-1a76-11e9-8fbd-e2f267263861.png)

Do you think this is enough or should we stress out that the source address is different that the user's?

[2019-01-17 15:59] jpochyla commented on #419
Fixed in 305a364

[2019-01-17 15:59] #419 closed

[2019-01-18 14:21] tsusanka commented on #421
So the problem is Connect currently does not support numbers larger then 2^53 (https://github.com/trezor/connect/issues/302). There was a good [reason](https://bitzuma.com/posts/the-21-million-bitcoin-question/) Satoshi chose 21 mil cap for Bitcoin, because it fits in the IEEE-754 floating point standard.

This is not the case for Stellar which works with numbers up to 2^63 and [recommends](https:

[2019-01-18 15:55] tsusanka commented on #462
I think the best solution is to modify this screen to show "Initialize signing with your account" in case it mateches and show the above if not.

[2019-01-18 16:31] tsusanka commented on #462
Implemented in https://github.com/trezor/trezor-core/commit/ea775c2750ef1a2221166de484c79e72e873e1a3 . I've left the fee sentence as it was for the time being.

[2019-01-18 16:31] #462 closed

[2019-01-18 16:36] tsusanka commented on #421
Also note, I've fixed the memo issue I believe you've reported earlier. It now defaults to memo type none if not defined. https://github.com/trezor/trezor-core/commit/ea775c2750ef1a2221166de484c79e72e873e1a3#diff-53ecaee988a138eb845ea2e0df5e94dfR83

[2019-01-18 16:47] istrau2 commented on #421
@tsusanka Ok, thanks I will check it out later today.

[2019-01-18 16:48] prusnak commented on #380
@refi93 Not at the moment, we are still waiting for UX/UI designer to overhaul the UI on Trezor. This will take some time, though. Feel free to improve Cardano UX in the meantime (if you have particular ideas how to do that).

[2019-01-18 21:09] slush0 opened #465 "Add support for coinjoin / Wasabi"
To support Trezor in coinjoin wallets like Wasabi (https://github.com/zkSNACKs/Meta/issues/30), some basic functionality for auto-signing / pre-confirmed signing needs to be implemented in Trezor Core.

Let's discuss how this can be possible in secure way and eventually implement it as standalone firmware app.

[2019-01-19 15:05] prusnak commented on #465
Supporting EXTERNAL script type is kind of prerequisite here: https://github.com/trezor/trezor-core/issues/388

[2019-01-22 00:45] istrau2 commented on #421
@tsusanka I just tried the proposed solution. Unfortunately, it has not solved the issue. Can you please reopen?

[2019-01-22 12:21] istrau2 commented on #421
@tsusanka My apologies. Looking  again at the code, I realized that I changed the number in the json representation being sent to the trezor to sign but I hadn't changed the number in the actual transaction being submitted to the network. Obviously then, this resulted in an incorrect signature.

I will try again today.

[2019-01-22 21:31] lsankar4033 opened #466 "Why does Ethereum path verification exclude change addresses?"
I noticed this line recently: https://github.com/trezor/trezor-core/blob/4c46a055ff5481326bade62af1b6364b5e45acec/src/apps/ethereum/address.py#L26

Why is this validation that `change == 0` necessary? It doesn't seem to exist on other coins. I ask because I'd like to enumerate *all* addresses on my Trezor without having a validation dialog, but run into said dialog whenever I ask my device about p

[2019-01-22 21:37] lsankar4033 commented on #466
I didn't think long enough to realize that change addresses don't exist in Ethereum, 'doh.

Sorry to anyone who read this :)

[2019-01-22 21:37] #466 closed

[2019-01-23 17:46] orpheus opened #468 "How to go about forking and adding coin support for a Litecoin fork?"
Looking to add support for FLO (prev. Florincoin)

[2019-01-23 17:51] prusnak commented on #468
FLO is already supported. Now it's your turn to integrate Trezor into the FLO wallet.

[2019-01-23 17:51] #468 closed

[2019-01-23 23:14] stachrom commented on #167
now its working :-)

[2019-01-23 23:40] apoelstra commented on #282
Quick update on this because I realize we've been working somewhat in the background here.

With the help of @romanz we've got the basic secp256k1 library working on the Trezor 1 and T. With some hacky stack measurement we've confirmed that we're far away from any resource limits. We're uncertain about our build commands or use of the micropython allocator but we think we're close.

From here @rea

[2019-01-23 23:45] prusnak commented on #282
@apoelstra These are great news! Looking forward to working with you on merging the functionality into our tree.

[2019-01-24 12:37] jpochyla commented on #374
The issue is caused by Trezor trying to send a response to the host, but the host is stalling the communication (not reading the response). Postponing.

[2019-01-24 16:03] #421 closed

[2019-02-04 16:52] prusnak commented on #432
We won't change the number of attempts, because we are replacing the security mechanisms in the storage anyway.

We already added attempt counter in the PIN dialog.

[2019-02-04 16:52] #432 closed

[2019-02-12 13:45] real-or-random commented on #282
Okay, so we had a closer look at the code. It's possible to rewrite it to use less stack memory, we're not convinced that this is the best idea because it will probably almost double the (already noticeable) running time of the rangeproof creation. In our experiments, we overused the stack by about 15 KB, but the code worked fine (on the physical device). What exactly happens is that we use more s

[2019-02-12 13:48] prusnak commented on #282
@jpochyla can you shed some light on stack limitations?

[2019-02-13 13:41] szymonlesisz opened #474 "Trezor TT (2.0.11): EthereumSignTx data safety check error"
When i sign ethereum transaction with some dummy data (0x00) i see on display (data are not smart-contract, they are just some data):
![screenshot 2019-02-13 at 14 31 58](https://user-images.githubusercontent.com/3435913/52715653-41b0fd80-2f9d-11e9-934d-f1756598c928.png)

But when i skip data field (data = undefined) it fails:

error:"Safety check failed"
code:"Failure_DataError"

[2019-02-13 13:49] prusnak commented on #474
Please show the contents of the `EthereumSignTx` message.

[2019-02-13 13:54] szymonlesisz commented on #474
case 1 (screenshot):
{
    "to": "0x7314e0f1c0e28474bdb6be3e2c3e0453255188f8",
    "value": "0xf4240",
    "data": "0x01",
    "chainId": 1,
    "nonce": "0x0",
    "gasLimit": "0x5208",
    "gasPrice": "0xbebc200"
}

case 2 (failure)

{
    "to": "0x7314e0f1c0e28474bdb6be3e2c3e0453255188f8",
    "value": "0xf4240",
    "chainId": 1,
    "nonce": "0x0",
    "gasLimit": "0x5208",
    "gasPrice": "0

[2019-02-13 14:20] szymonlesisz commented on #474
solved.
it turns out that type "to" in "EthereumSignTx" message was also changed from "bytes" to "string" in 2.0.11

[2019-02-13 14:20] #474 closed

[2019-02-13 17:06] sept-en opened #475 "Message queue issues"
Hi, everyone!

I am currently experimenting with Trezor firmware and appropriate libraries and noticed the following problem. It seems that sometimes either device occasionally sends duplicates of messages or some messages remain in _trezord_'s queue even they should have been removed.
When it happens, there is still a chance that you will get the queue back to a normal state (i.e. you will be abl

[2019-02-15 13:56] tsusanka commented on #304
The standard still might go through some modifications, but we've agreed with @prusnak that I'll start working on this in core. We can start with protobuf, UI etc.

Also, the standard is already implemented in https://github.com/trezor/python-shamir-mnemonic by Andrew, but as he mentioned it is not 100% in sync with the documentation and there might be some changes.

That being said, it makes sens

[2019-02-15 14:03] tsusanka commented on #304
First the user will get prompted to input the number of total shares. The range is 1 <= M <= 32 but obviously most people will have between ~3 to ~8 shares. So I suggest UI like this:

![screenshot from 2019-02-15 14-30-56](https://user-images.githubusercontent.com/1835345/52861428-b9646100-3132-11e9-8356-c57eae356bba.png)

where the 10+ button leads to another screen with the higher numbers. This

[2019-02-15 14:10] tsusanka commented on #304
Maybe better:

<table>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
  <tr>
    <td>7</td>
    <td>8</td>
    <td>9</td>
  </tr>
  <tr>
    <td>10</td>
    <td>11</td>
    <td>12+</td>
  </tr>
</table>

or:

<table>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>6</td

[2019-02-16 10:45] bosomt opened #476 "Display not properly refreshing in 2.1.0"
Display not properly refreshing.
See attached video
https://photos.app.goo.gl/AQjwCybL465GRggC8

Content of display is deleted when you swipe during confirmation of your action.
It happens during on-boarding and during name change. So it probable happens duringany confirmation.

FW version: 2.1.0
it's not happening with FW version 2.0.10

[2019-02-16 10:52] bosomt opened #477 "Display gets dimmed during unlock in 2.1.0"
In firmware version 2.1.0 /there was no please wait in previous version/
display gets dimmed during unlock, or PIN changes and so on.
After this operation it lights up again.

[2019-02-18 10:31] jpochyla commented on #477
I don't understand the problem. We slide into the loader animation and then slide out of it, no?

[2019-02-18 10:33] jpochyla commented on #476
Fixed in 4709af1

[2019-02-18 10:33] #476 closed

[2019-02-18 16:28] sorooris opened #479 "Bootloader mode - text overflow on vendor change screen"
Trezor T

Starting the T2 device in bootloader mode and installing new firmware displays a Vendor change screen where the text overflows to the right.
![bootloadermodeoverflow](https://user-images.githubusercontent.com/10185314/52964429-8f18da80-33a2-11e9-9242-05e25705d849.jpg)

[2019-02-19 12:23] prusnak commented on #219
Implemented in b24c062a3d55f27e6ddb46b07fda99cca43199ab

[2019-02-19 12:23] #219 closed

[2019-02-19 13:05] matejcik commented on #475
are you seeing any errors on either trezorctl or the emulator, apart from the wrong messages?

trezor-core has a message queue which can come out of sync with what trezorctl/trezord is expecting. This usually happens when you hit a bug in trezorctl, which sends a message but does not retrieve the response. In that case, on your second attempt you will get a response for that previous message. Coul

[2019-02-19 13:20] matejcik commented on #304
perhaps the number of choices should be more limited (e.g., (1) (2) (3)) and the full range could only be initiated from the PC, similar to number of seed words?

Or is there a security risk associated with knowing the number of shares?

[2019-02-19 14:11] prusnak commented on #304
I don't like this approach. Either we enter everything on PC or everything on Trezor. Let's enter everything on Trezor for now.

[2019-02-20 16:13] sept-en commented on #475
No

Yes, it could be the same issue. Sometimes it also appears even on trying to initialize the wallet. We've tested on OSX today and have experienced it on the very first attempt.

I've specified some examples above (_get_address_ and _ping_ commands). It's not 100% guarantee to produce that error, though these functions are enough to test as sometimes it goes out of sync only with these.

I will

[2019-02-20 16:17] prusnak commented on #475
Redesigning the low level protocol is in the works. We plan to use either session id or message counter or both.

[2019-02-20 17:59] matejcik commented on #475
Well, i'm unable to reproduce the problem. I'm running trezor emulator both with `./emu.sh` and with `PYOPT=0 ./emu.sh` (debug mode enabled), separately (`trezorctl -p udp:127.0.0.1:21324`) or through bridge (launched with `trezord-go -ed 21324:21325`), with or without wallet.trezor.io being open at the same time in order to hit the emulator with queries from the side.

I know that there exist _so

[2019-02-21 12:23] jpochyla commented on #477
Fixed in 86bec3b, thanks!

[2019-02-21 12:23] #477 closed

[2019-02-21 14:25] tsusanka commented on #304
UI/UX questions:

- Do we want to Hold to confirm after each share? Or just single-click confirm?
- Do we want to require the user to enter two words to perform a check? Or maybe a single word?

[2019-02-21 15:19] sept-en commented on #475
@matejcik I'm using _trezor-core_ master on **38b3e44** (also tested on the latest one a few days ago).
_python-trezor_ is on **3db0733** (latest),  _trezord-go_ is on **263c1f3** (latest).

Repositories were built following instructions in docs/readmes.
I'm launching the emu with debug option - `PYOPT=0 ./emu.sh`; bridge - `trezord-go -e 21324`.
Indeed I'm not using any specific commands/instruct

[2019-02-21 16:14] matejcik commented on #475
I'm pretty sure I figured out the problem. It seems to be the bridge's fault in the emulator case, but it can happen with the real device when bridge is _not_ in use.

The message queue that is out of sync is actually on the _receiving end_ - on the USB port, or on the receiving UDP socket.
(That is why you need bridge to trigger it with an emulator - otherwise every consumer opens their own socke

[2019-02-21 16:14] #475 closed

[2019-02-22 20:19] th3geek opened #482 "debug mode randomly enabled?"
Hi all,

I'm freaking out a little bit... When I do a `trezorctl list` its reporting that my trezor is "Debuglink enabled", which I figured was some sort of stock thing (since I've never knowingly enabled it) but after doing a search I see that its possible to read the trezors memory and even extract the private keys!  yikes!  How can this be an allowed function with a security device like trezor!

[2019-02-23 07:14] bosomt opened #483 "Verifying PIN on empty device"
Device says Verifying PIN  even device is wiped and not initialized.
![img_20190223_080522](https://user-images.githubusercontent.com/31506317/53283185-c4c31800-3742-11e9-85d0-871b41333520.jpg)

[2019-02-23 14:53] matejcik commented on #482
this is a problem with your old version of `trezorctl`, not with Trezor.

see my reply on Reddit: https://www.reddit.com/r/TREZOR/comments/atrnts/trezor_debuglink_enabled/eh3s1c0/

[2019-02-23 14:53] #482 closed

[2019-02-24 01:19] th3geek commented on #482
Thank you so much for your reply on reddit.  Very Helpful. But just FYI, I am using trezorctl version 0.11.1 with a modelT

[2019-02-26 14:21] real-or-random commented on #282
@prusnak @jpochyla Could you figure this out?

[2019-02-26 16:26] jpochyla commented on #282
Hi! Sorry about the delay.

Seems like the best way to solve this would be to move the C stack into CCMRAM, that should give us 64KB space in total, instead of 16KB soft-limit. You can find the code here: https://github.com/trezor/trezor-core/tree/ccmram_stack

64KB should be enough, right?

[2019-02-26 16:49] real-or-random commented on #282
Thanks!

64KB ought to be enough for anybody.

If none of our math was wrong, we'll need 32 KB altogether (current stack of 16KB plus ~15KB use over the current limit. We'll try our patches on top of your branch.

[2019-02-27 13:41] prusnak commented on #483
This is fixed already. Now it says "processing" :)

[2019-02-27 13:41] #483 closed

[2019-02-27 13:43] prusnak opened #484 "Investigate the new Dash TX format"
It seems that Dash did a hard fork which introduces a new TX format. The old TX format still works, but there might be some trouble while spending the new format because Dash doesn't use BIP-143 and needs to stream prev-txs.

[2019-02-27 15:29] gladcow commented on #484
I have new Dash txes support for trezor,  I am creating unit tests now and am prepareing PRs in trezor-core, trezor-common, trezor-mcu. I can create PRs right now as [WIP] (work in progress) if it is better.

[2019-02-27 15:30] prusnak commented on #484
Please send PRs once you are ready. Start with trezor-common, then with -core, and finally -mcu.

[2019-02-27 15:53] gladcow commented on #484
I've added PR to trezor-common https://github.com/trezor/trezor-common/pull/283

[2019-02-28 17:59] sorooris opened #485 "U2F authentization and passphrase screens overlap"
moved from https://github.com/satoshilabs/trezor-qa/issues/77

TT with passphrase enabled, fw: 2.0.10, 2.1.0
dropbox or github with U2F authentization enabled

Steps to reproduce:
1. go to an arbitrary site with U2F authentization (dropbox, github), log in and wait for a security key prompt
2. go to wallet.trezor.io and wait for the passphrase prompt
3. tap the upper part of the TT screen (not the

[2019-03-05 14:34] prusnak commented on #485
Fixed in 3f0e3a334e03f49ff819d14cbbec00194c586c27

[2019-03-05 14:34] #485 closed

[2019-03-05 23:51] yura-pakhuchiy opened #488 "Firmware 2.1.0 is not tagged"
Makes verification by rebuilding and comparing fingerprint not possible by users.
Also recent [change of fingerprint](https://github.com/trezor/webwallet-data/commit/ff75d534f0ba675ff3a51988de57ea9095dc8482) in webwallet-data repo looks a bit suspicious.

[2019-03-06 07:44] prusnak commented on #488
It's tagged in the private branch, which will be merged into master today (after the official release).

The firmware has not been officially released yet. We found a bug and fix caused the fingerprint change.

[2019-03-06 07:44] #488 closed

[2019-03-07 16:21] tsusanka opened #492 "Cardano sign/verify does not have tests"
It looks like Cardano does not have tests for sign/verify functions. @ddeath do you actaully use this functionality in Adalite? Or anywhere else?

[2019-03-07 18:16] refi93 commented on #492
@tsusanka we don't use in AdaLite signing/verifying of arbitrary messages, only transactions

[2019-03-09 11:12] prusnak opened #493 "Passphrase dialog should cleanup the UI"
After I enter the passphrase, the Passphrase dialog stays on the device until the next message is received.

If no other message comes, this is very confusing.

[2019-03-11 08:52] tsusanka commented on #492
@prusnak let's remove it? I think it's the same case as before for other coins. The sign/verify functions were added mostly because other coins had it. But if it has no direct usage for the coin.. We can return it easily if needed

[2019-03-11 11:08] 1000101 opened #495 "Flickering screen during PIN verification"
Screen is flickering while the progressbar circle is empty. After the first line of the circle is rendered, the flickering stops. It becomes clearly visible at 10th attempt

https://streamable.com/n7r1x

[2019-03-11 15:18] refi93 opened #497 "Swiping up and down when signing cardano transaction leads to blank screen"
I was testing sending of a cardano transaction on the latest released firmware (2.1.0) and the screen where the amount and output address is being confirmed empties when I swipe up and back down (it's paginated). Only the reject/confirm buttons stay in place. You can reproduce it here: http://adalite.io/ If you need ADA I can send some to you.

I'm not sure if we are doing something wrong with the

[2019-03-11 15:43] tsusanka commented on #492
ACKed by stick

[2019-03-11 15:43] #492 closed

[2019-03-11 16:05] prusnak commented on #495
The problem is here: https://github.com/trezor/trezor-core/blob/d86abc473f935a91ee7fd33411220bcdc2a19b6d/src/trezor/pin.py#L9

If `show_pin_timeout` is called with `progress == 0` the screen is cleared.

If timeout is bigger than 1000 seconds, `show_pin_timeout` is called with `progress == 0` multiple times, each time performing a clear screen.

[2019-03-11 17:00] refi93 commented on #497
gif showing what I mean: https://s2.gifyu.com/images/ezgif.com-crop18d28f7fd6ee47d2.gif

[2019-03-14 11:37] paulinasd opened #498 "JS lib to verify SegWit P2SH addresses"
Is there a JavaScript lib in Trezor's codebase that would allow verifying SegWit P2SH addresses from Node.js app without having to connect to Trezor's device? (similar to https://github.com/bitcoinjs/bitcoinjs-message)

[2019-03-14 12:02] jpochyla commented on #498
This is a repository for Trezor firmware, but I beliave we don't have any such library in the JS stack, sorry.

[2019-03-14 12:02] #498 closed

[2019-03-15 09:00] rodrigopavezi opened #501 "Safety check failed error after upgrading to 1.8.0"
Hi There,
I have upgrade Trezor firmware to 1.8.0 but then now I am getting the following error.

[trezor-link] Calling BridgeTransport.call( 382 EthereumSignTx { address_n: [ 2147483692, 2147483708, 2147483648, 0, 0 ],
    nonce: '05',
    gas_price: '0165a0bc00',
    gas_limit: '5208',
    to: '23d233933c86f93b74705cf0d236b39f474249f8',
    value: '09184e72a000',
    chain_id: 3 } false )

Error

[2019-03-15 10:57] prusnak commented on #501
Contact our support at trezor.io/troubleshooter

[2019-03-15 10:57] #501 closed

[2019-03-15 11:13] romanz commented on #282
Unfortunately, it seems that using the CCMRAM for the stack causes USB disconnection after running a `get-features` command:
[code]

@jpochyla Could you please take a look?

[2019-03-15 11:19] prusnak commented on #282
@romanz What do you see on the display? It seems the device stopped responding.

[2019-03-15 11:33] romanz commented on #282
@prusnak ![](https://i.imgur.com/YXdTioS.jpg)
It shows the default background image (nothing seems to change after the device stops responding).

[2019-03-16 12:52] prusnak commented on #144
We can ask for the passphrase 2x to avoid typos. And only ask for the passphrase once when state is provided and we can detect these typos.

[2019-03-16 12:53] prusnak commented on #144
Another option is to show passphrase on the device (if the user wants to - i.e. dialog Show passphrase?) after it has been entered.

[2019-03-16 21:39] tsusanka commented on #144
Or add an icon that shows the passphrase (as is used sometimes). I'm not sure it can fit on the screen though.

![Peek 2019-03-16 22-38](https://user-images.githubusercontent.com/1835345/54481970-35d68680-483c-11e9-89aa-867540b2b265.gif)

[2019-03-20 15:49] yuriygeorge opened #506 "Display Custom Locktime On Trezor Screen for BTC"
I'm a Trezor app developer and for my application, I need to be able to set the locktime parameter, i.e., so the transaction is signed by Trezor and is only valid when a specific block number is reached. However, I notice that the custom "locktime" field is not displayed on the Trezor display screen when set. I understand that when it is not set, no need to display it. But for my application when

[2019-03-20 16:18] mroz22 opened #507 "Rethink ButtonRequests"
Hi guys,

I might have found some inconsistencies worth refactoring, see:

ResetDevice call
- for model T responds with `ButtonRequest_ResetDevice`
- for model one responds with `ButtonRequest_ProtectCall`

BackupDevice call
- for model T responds with `ButtonRequest_ResetDevice`
- for model one responds with `ButtonRequest_ConfirmWord`

I would suggest to change it this way:

ResetDevice call
- f

[2019-03-20 21:17] romanz commented on #282
BTW, moving `.bss` section to CCMRAM seems to be working well for our case (by allowing us using larger `.stack` section in RAM) - see https://github.com/romanz/trezor-core/commit/1dfe780e4ae5cbe157b2167d6fc4646bdf8b2fe6.
May I submit this change as a PR to this repository?

[2019-03-20 22:10] prusnak commented on #282
@romanz I think it's better to have the stack in CCRAM - see https://github.com/trezor/trezor-core/tree/ccmram_stack but I leave @jpochyla to decide what we put in CCRAM and what stays in SRAM

[2019-03-24 11:29] prusnak opened #508 "update micropython dependency to 1.10"
[ ] Review mpconfig.h and figure out if we can disable some optional features.
[ ] Can we use newly-introduced MP_STATIC_ASSERT somewhere?
[ ] Can we somehow benefit from pystack?
[ ] our uctypes.sizeof patch probably no longer necessary - see micropython/micropython#3101
[ ] remove SOF callback from the CDC code - see micropython/micropython@0f6f86c

[2019-03-24 11:30] prusnak commented on #383
Moved to https://github.com/trezor/trezor-core/issues/508

[2019-03-24 11:30] #383 closed

[2019-03-24 11:30] prusnak commented on #377
Moved to https://github.com/trezor/trezor-core/issues/508

[2019-03-24 11:30] #377 closed

[2019-03-24 11:30] prusnak commented on #247
Moved to https://github.com/trezor/trezor-core/issues/508

[2019-03-24 11:30] #247 closed

[2019-03-25 13:04] bosomt opened #509 "Trezor T freezing during dry run recovery"
Start dry run recovery.
Select first letter.
Swipe to different letter.
Display will flicker.
Swipe longer and device freezes till it's reconnected.
No error in log /except disconnect info when disconnected/

Linux Mint,Bridge 2.0.26, Chrome

I was able to reproduce it.

[2019-03-25 14:20] prusnak commented on #509
Firmware version?

[2019-03-25 14:29] prusnak opened #510 "[Gitlab CI] build firmware of each commit"
Let's add instructions to `.gitlab-ci.yml` which will produce the firmware and pushes that add that to artefacts.

[2019-03-25 14:39] prusnak commented on #510
Fixed in 478df1c2a90c2400a417681344859e6b4a211f48

[2019-03-25 14:39] #510 closed

[2019-03-25 15:00] bosomt commented on #509
2.1.0
i will try to reproduce it in 2.0.10

[2019-03-25 15:15] bosomt commented on #509
nope just 2.1.0 with PIN protection

[2019-03-26 09:10] tsusanka opened #511 "Stellarport fails singing some dummy transaction"
From email:

Looks like there is some issue with the new firmware signing some transactions. Is there any way you could test it out at stellarport.io ? You can try going to Wallet > Profile and setting a nickname. In order to set a nickname, it asks you to sign a dummy transaction and gets stuck with an error of "Illegal Buffer".

---------

I'm not 100% sure this is a firmware issue, this might c

[2019-03-26 12:29] tsusanka commented on #162
Let's discuss this issue again, as mentioned on standup. I'm voting for disabling the rotation whatsoever (option 3), but I'm fine with option 1 as well.

[2019-03-26 12:36] prusnak commented on #162
I would go for option 1.

[2019-03-26 13:04] tsusanka commented on #162
@prusnak what is the default for option 1? If the default is OFF, then I agree

[2019-03-26 13:10] tsusanka commented on #403
I'm not convinced this is desirable. What is the benefit of saving 20% of your clicks? You still have to wait for the delay to come through. Also if the value is calculated based on your typing speed you will hit the enter button faster.

I think would cause more harm then good. I'm suggesting to close this.

[2019-03-26 13:10] prusnak commented on #162
Default would be NORTH = 0 degrees. Other options would be SOUTH = 180 degrees, WEST = 270 degrees, EAST = 90 degrees.

[2019-03-26 13:15] tsusanka commented on #162
Uff, sorry, I've misunderstood. Ok, so you mean this but removing the option to change the setting using a swipe gesture, am I right?

[2019-03-26 13:20] prusnak commented on #162
Yes, remove the gesture completely. Make it only settable via the ApplySettings message.

[2019-03-26 13:30] prusnak opened #516 "IDEA: Implement TOTP/HOTP"
It's pretty straightforward to implement TOTP/HOTP in the following way:

- we store the TOTP/HOTP secret on the computer (Password manager maybe?)
- we extend CipherKeyValue or SignIdentity message to provide extra functionality which takes this secret (and counter for HOTP or timestamp for TOTP), encrypts that secret with a private key derived using a path
- numeric code is shown on the device d

[2019-03-26 13:39] prusnak opened #517 "IDEA: Lock Trezor to work only with a particular host"
It is possible to lock the device to communicate only with a particular host.

The implemenetation would look like this:
- trezor bridge would collect various serial numbers (such as MAC addresses of LAN, Wifi, etc.) and compute a hash of them to create a 256-bit identifier
- this identifier would be sent in the Initialize Messages
- unless the identifier would be the same as the one stored in the

[2019-03-26 14:21] tsusanka commented on #507
We have discussed this with @mroz22 and we've concluded this needs more love. Also, this is a breaking change, so it makes sense to fix all inaccuracies at the same time. In particular, we need to:

1. discuss what backup_device and reset_device should return
2. investigate all other places if ButtonRequestType makes sense

Because this needs cooperation from the wallet team, I'm afraid this will

[2019-03-26 14:30] tsusanka commented on #495
Ping @jpochyla . Or have you discussed this in person?

[2019-03-26 14:38] tsusanka commented on #506
TLDR: if locktime is different than the default value add a screen for confirming it

[2019-03-26 14:44] tsusanka commented on #431
Have we agreed on this? Do we want to introduce it before SLIP-39 or simultaneously with it?

[2019-03-26 14:59] tsusanka commented on #410
Since our freezing date is in two weeks, there is no chance we can do this in time. Also, SLIP-39 has higher priority. I'm moving this to backlog.

[2019-03-26 15:25] tsusanka opened #519 "Keychain.derive and path validations"
Currently, we first call `paths.validate_path` and prompt the user in case it is a non-standard path. If so and the user agrees it may happen that the Keychain throws `failure: Forbidden key path` if it is outside the app's namespace, which is quite unfriendly.

Do we want to deal with this? Maybe just swap those two operations?

---

You can reproduce this using `trezorctl lisk_get_address -n "43

[2019-03-26 15:25] tsusanka commented on #456
Replaced by https://github.com/trezor/trezor-core/issues/519

[2019-03-26 15:26] #456 closed

[2019-03-26 15:30] tsusanka commented on #519
@jpochyla any opinions on this?

[2019-03-27 10:07] tsusanka opened #520 "Test Monero master against trezor-core master"
@ph4r05's PRs were merged into monero master. He already tested it, but it's better to be tested again on our side.

[2019-03-27 11:03] jpochyla commented on #519
We might somehow pass the keychain into `validate_path` and throw exception there?

[2019-03-27 12:15] vladimirvolek commented on #295
@prusnak @tsusanka I just reproduced this issue, yes.

![image](https://user-images.githubusercontent.com/3112191/55074961-fc9ae380-5091-11e9-90c9-5644813f1307.png)

[2019-03-27 16:12] matejcik commented on #295
what I'm somewhat sure is happening here is this:
1. connect calls the bridge and waits for answer
2. by closing the pop-up, you cancel the wait, but Trezor is still in state "ready to send reply"
3. when you select something on the device, the reply is sent out
4. bridge's next attempt to read USB will return that reply - even though it's happened after a different write.

I'm not sure what's the

[2019-03-27 18:26] jpochyla commented on #295
This is an interesting idea! cc @karel-3d

[2019-03-28 02:04] TomBPotochek commented on #162
I like option 2, because I use it upright when on my desktop machine and then flipped 180° when I use it  on my phone with a short cable. I guess this option would make more sense if an adapter kind of like ![this](https://user-images.githubusercontent.com/43979399/55124244-59bf8500-50e4-11e9-8a93-c336b8417910.png) existed.

[2019-03-28 06:33] karel-3d commented on #295
That would probably break the "post" and "read" messages that's implemented
for debug link

On Thu, Mar 28, 2019, 1:26 AM Jan Pochyla <notifications@github.com> wrote:

[2019-03-28 06:41] karel-3d commented on #295
bridge can maybe wait for the stray messages in the case "call" call (not
separate "post" and "read" call) is interrupted between the input and
output part

but this waiting has to be cancelled when another call then posts something
to the device

(I don't currently have any free time for playing with bridge. :/ )

On Thu, Mar 28, 2019, 1:26 AM Jan Pochyla <notifications@github.com> wrote:

[2019-03-28 12:46] tsusanka commented on #295
I dare to say this is not a firmware issue, I'm suggesting to move this to trezord-go then. @prusnak could you move it? I don't think I have permissions for that.

[2019-03-28 14:01] vladimirvolek opened #521 "Trezor actions are slow"
TT (2.1.0)

You can reproduce this issue in wallet (https://beta-wallet.trezor.io/next/#/) for example sign-verify section.

* Authenticating device takes like 2 or 3 seconds (was instantly before firmware update)
* Signing message in wallet now takes two more seconds

During these actions I can see loader on trezor screen.
Basically every Trezor action is slower than it was before update.

[2019-03-28 16:05] tsusanka commented on #521
This is really weird because I'm not able to reproduce this with the same bootloader and same fw version.

But @vladimirvolek's device takes longer on my computer as well..

We both have PIN and passphrase enabled.

[2019-03-28 19:01] tsusanka commented on #509
Could by solved by #162

[2019-03-28 23:25] moshemalawach opened #522 "Treezor model T device shows a completely white screen and doesn't start anymore"
For no reason the device doesn't start anymore when plugged in and displays a fully white screen.

No connection is detected on dmesg either when plugged in.

Any idea of the reason?

[2019-03-29 07:00] tsusanka commented on #522
Could you provide a firmware version and what OS are you using?

[2019-03-29 09:51] tsusanka opened #523 "U2F is broken in master"
This was instroduced by 5c37e8dae272b191eeb9e3c20da56ebf8b980f4f

[2019-03-29 10:25] tsusanka commented on #522
I believe this is a faulty device. Please contact our support using this form: https://satoshilabs.kayako.com/conversation/new/9

[2019-03-29 10:26] tsusanka commented on #522
Not much we can do on the firmware side here.

[2019-03-29 10:26] #522 closed

[2019-03-29 13:45] #523 closed

[2019-03-29 13:50] tsusanka opened #524 "Implement SLIP-39 keyboard"
- [ ] if the input is empty, still add a backspace button to allow users to make a step back
- [ ] make the backspace button larger (maybe shorten the input box? or just remove the icon on the right and make it smaller?)

[2019-03-29 13:51] tsusanka commented on #304
Keyboard issue moved to #524

[2019-03-29 14:00] tsusanka opened #525 "Modify U2F/webauthn app to use Keychain"
apps/webauthn now does not use Keychain. Let's add it.

[2019-03-29 14:34] tsusanka commented on #493
@prusnak is this still an issue? I'm having troubles reproducing it

![Peek 2019-03-29 15-33](https://user-images.githubusercontent.com/1835345/55239975-170ec180-5238-11e9-81c9-517ff05baac1.gif)

[2019-03-29 14:43] tsusanka commented on #431
No answer, moving to backlog.

[2019-03-29 14:44] tsusanka commented on #380
As stick mentioned, this waits for UX/UI designer. Moving to backlog.

[2019-03-29 14:57] tsusanka commented on #484
We've decided not to support DIP2 transactions currently. We have limited scope of what we can add to firmware (and mainly maintain). I hope that's understandable.

[2019-03-29 14:57] #484 closed

[2019-03-29 15:00] tsusanka commented on #314
We're passing this one from one milestone to another. I don't think this makes sense to do before (or jointly with) #380.

[2019-03-29 15:10] prusnak commented on #493
Reproduce it in the web wallet, where you enter wrong passphrase into a remembered device (so webwallet will compare the hash and stop).

[2019-03-29 15:21] #497 closed

[2019-03-29 15:32] tsusanka commented on #493
Confirmed.

![Peek 2019-03-29 16-31](https://user-images.githubusercontent.com/1835345/55243771-298cf900-5240-11e9-9994-f84cd6368a8c.gif)

[2019-03-29 16:23] tsusanka commented on #520
Tested on current trezor-core master 5deeb7d6f5d70a264f9afcae1d4fe25e131c338e and monero 423d3bb86b7bd6f99e70e0f05c45fae97cd68cd9 successfully. There was a typo, fixed in

[2019-03-29 16:25] #520 closed

[2019-04-01 07:59] tsusanka commented on #163
I believe this is so already.

-----

So what is left is to implement the auto-lock and set the settings (use the configuration value added in a6e8a37).

What should be the default value? Auto-lock after what time?

[2019-04-01 08:02] tsusanka commented on #437
@jpochyla @prusnak Is this still a thing? Do we want to implement it?

[2019-04-01 08:03] tsusanka commented on #406
Still waits for https://github.com/trezor/trezor.js/issues/73

[2019-04-01 09:31] tsusanka commented on #493
This is most likely a wallet issue, moved to https://github.com/satoshilabs/mytrezor/issues/703

[2019-04-01 09:31] #493 closed

[2019-04-01 09:34] prusnak commented on #437
Let's put that in backlog and re-evaluate later.

[2019-04-01 09:36] prusnak commented on #163
Default value as per a6e8a37 is 10 minutes, see https://github.com/trezor/trezor-core/commit/a6e8a37239085c696033aeb86a07657479c5e451#diff-b325a57e27deacedf04af2b2023c70ccR137

[2019-04-01 13:21] rmeissner commented on #122
@prusnak Hey, wanted to check what the state on this is. We would love to add Trezor support for the Gnosis Safe, but we depend on the EIP-712. We are aware that some parts are not finalized in the EIP (namely array support), but it would good to know how we could help out on pushing this forward. :)

[2019-04-01 13:24] prusnak commented on #122
@rmeissner You can push this forward by contributing a pull request which adds the functionality.

[2019-04-01 13:36] rmeissner commented on #122
We can do this, just wanted to check if there is already something in progress, to avoid duplicated work ;)

[2019-04-01 13:40] prusnak commented on #122
Thanks! AFAIK there is no-one working on that.

[2019-04-01 14:40] tsusanka opened #526 "Seperate storage from default values"
I'm not sure storage should deal with default values, it's more of an application thing to me. Shouldn't storage be just a simple layer? And maybe build something on top of it?

Introduced by https://github.com/trezor/trezor-core/commit/a6e8a37239085c696033aeb86a07657479c5e451

[2019-04-02 11:13] tsusanka opened #528 "Document script_type"
Document script_types: PAYTO*. I think I've done this, but maybe just in internal conversion. I'll document this properly to `docs/`

[2019-04-02 12:15] onvej-sl opened #529 "U2F: Response packets not properly zeroed"
U2F HID packets have payload of fixed size 57 bytes. Bigger payload is fragmented into init packet and several continuation packets. Last continuation packet (with truncated data part) should be right padded with zeroes, which is not. It contains residue of the previous packet.

See `send_cmd` in `src/apps/webauthn/__init__.py`.

[2019-04-02 12:40] jpochyla commented on #526
I don't really have any strong opinion about this.

[2019-04-03 12:12] tsusanka commented on #528
Documented [here](https://github.com/trezor/trezor-common/blob/master/protob/messages-bitcoin.proto#L242) and discussed in person.

[2019-04-03 12:12] #528 closed

[2019-04-03 13:30] tsusanka opened #533 "Monero finalization"
- [ ] setup CI to test against moneroc++
- [x] remove secp256k1 - implemented in tsusanka/xmr but the tests fail (should be fixed by above)

[2019-04-03 13:33] tsusanka commented on #533
The CI issue has several options:

1. build monero on some tag from https://github.com/monero-project/monero with travis, cache build, exec monero_trezor_tests binary in each test cell in the matrix

1. build monero tag manually, upload somewhere to Satoshilabs server (travis compatible binary), fetch with travis, exec monero_trezor_tests binary in each test cell in the matrix

[2019-04-03 14:46] tsusanka commented on #406
trezor/trezor.js#73 fixed but waits for https://github.com/trezor/trezor-core/issues/404

[2019-04-04 11:23] tsusanka opened #534 "Storage: check_pin and unlock functions are the same"
The [check_pin](https://github.com/trezor/trezor-core/blob/a96c39a9d1a438626083cc5acc5fc11ab8a99d6e/embed/extmod/modtrezorconfig/modtrezorconfig.c#L60) and unlock function are completely the same.

Does it make sense to have both? If needed, then at least call the first from the other one.

@andrewkozlik would you like to look at this?

Reported by @ciny

[2019-04-04 11:41] #519 closed

[2019-04-04 14:30] andrewkozlik commented on #534
I think it makes sense to differentiate between the two functions for now even though they behave the same. In the future we might want to implement different behavior for each, i.e. we might not want check_pin() to unlock the storage. However, I noticed that during dry run recovery we do not check the PIN if config.has_pin() returns false. We should not trust what config.has_pin() returns, becaus

[2019-04-05 08:52] tsusanka commented on #534
Well done!

[2019-04-05 08:57] tsusanka commented on #534
Great!

[2019-04-05 08:58] tsusanka commented on #534
Well done! Waits for review in #536

[2019-04-05 10:09] tsusanka commented on #533
We've agreed the moneroc binary will be on GitHub releases.

[2019-04-05 11:50] #511 closed

[2019-04-05 11:55] tsusanka commented on #388
I'm moving this to backlog, but we'll most likely include this into the next milestone.

[2019-04-05 12:56] tsusanka opened #538 "Investigate broken import"
When importing module `path` in branch https://github.com/trezor/trezor-core/tree/tsusanka/broken-import-path I'm getting `ImportError: cannot import name CONFIRMED` error.

[2019-04-05 19:59] slush0 commented on #517
I dislike using of MAC addresses, which is basically a public information. If ever, I would consider providing some "key file" to Bridge, stored somewhere in the user profile.

[2019-04-05 20:02] prusnak commented on #517
Another option is to use the keyfile in the bridge to encrypt the whole communication (v2 protocol) and ignore the communication with the wrong communication key.

[2019-04-05 20:32] prusnak commented on #465
What needs to be done is the following:

Create a new message `CoinJoinSignTx` which resembles `SignTx` (minus the shitcoin stuff). Signing would be more-or-less the same as normal signing with the following exceptions:

* most of the inputs (TxInputType) would be external (script_type==EXTERNAL)
* at least one input (TxInputType) would be internal (TxInputType with script_type==SPENDWITNESS)
* mo

[2019-04-06 14:32] kristapsk commented on #465
This looks really Wasabi specific, but with some modifications could work for JoinMarket yield generator bots too, I guess (haven't looked too much into details currently). The rules for ordinary JM CoinJoin tx'es (not PayJoin ones) curently are somewhat like this:
* All inputs are p2sh-segwit
* Zero or one legacy p2pkh or bech32 output, all other outputs also p2sh-segwit
* Will likely be changed

[2019-04-06 17:04] prusnak commented on #465
ETA?

[2019-04-06 17:30] kristapsk commented on #465
Not sure, some support in code already exists (see https://github.com/JoinMarket-Org/joinmarket-clientserver/pull/268), but I think there haven't clear decision about path forward in this regard made yet. Maybe you could catch waxwing, as you are in the same town now, and ask him in a person. Comment from the linked PR few months ago:

But, yeah, I understand native bech32 p2wpkh is simpler than p

[2019-04-06 17:36] nothingmuch commented on #465
A relevant concern has been raised by Greg Sanders in the context of PSBT based coinjoins w/ hardware wallets is when the host is compromised and lies by omission to the wallet about the which inputs are under its control, effectively a split-brain situation (although it's the same device, i think it makes to think of it this way since the signing device is necessarily unaware of the signing state

[2019-04-07 23:21] prusnak commented on #465
@nothingmuch Thanks for the info. Good point. This observation is not specific for coin-join, but rather for all inputs with the EXTERNAL type.

TL;DR: Solution is to add an ownership proof to every EXTERNAL input.

[2019-04-07 23:22] prusnak commented on #388
As per https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2017-August/014843.html it is required to add an ownership proof to every EXTERNAL input.

[2019-04-08 08:59] nopara73 commented on #465
As discussed ownership proof is not possible since  cj has to be signed even when others dont sign (so the coordinator can filter out the DoS attacker.)

[2019-04-08 12:39] instagibbs commented on #465
@nopara73 Can you elaborate more? If you're signing(with sighash all) you know all the UTXOs, why could the signer not be handed a proof along with the UTXO information?

[2019-04-08 12:45] matejcik commented on #388
It is still possible to sign EXTERNAL inputs without ownership proofs, given that they are treated as risky and confirmed explicitly by the user.

This (esp. the segwit part) also means that we would require prev_tx data for every EXTERNAL input, so that we can validate the ownership proof signature and validate the amount for segwit inputs. Not great - maybe the ownership proof could be extended

[2019-04-08 14:46] nopara73 commented on #465
I was wrong. We have currently ownership proof at registration phase so the backend can always propagate the ownership proofs with the unsigned coinjoin.

[2019-04-08 15:38] nothingmuch commented on #465
`CcjClient` currently proves ownership of a UTXO by signing the blinded output submitted during registration:

https://github.com/zkSNACKs/WalletWasabi/blob/368f0ac75e95efc7380b79b2552171b9c7ee0b1d/WalletWasabi/Services/CcjClient.cs#L534

Assuming a hardware wallet is actually signing these input proofs (I don't see any other way to do this safely, but someone please correct me if I'm wrong as thi

[2019-04-08 18:01] instagibbs commented on #465
After chatting with andytoshi I think the clearest solution for proof of ownership:

With privkey `a` corresponding to address `A`, sign `"Bitcoin Coinjoin Ownership Proof" || X`

where `X = HMAC(a, utxo_info)`.

`utxo_info` can be things like pre-validated input amounts(to fix the other mentioned issue in my original e-mail), or anything else the device wants to attest to. The only secret item he

[2019-04-09 10:53] prusnak commented on #465
@instagibbs We need the opposite thing though. We need a proof that the key DOES NOT belong to the device. What you describe is not enough.

The solution is the following:

X = HMAC(utxo_path, utxo)
proof = (X, utxo_path)

That way Trezor can verify proof of ownership and because it knows the path, it can verify the UTXO does NOT belong to the device itself. (By generating privkey using the path a

[2019-04-09 12:22] nothingmuch commented on #465
If the derivation path is included in the proof, since proofs are known to the coordinator and other participants, and address chains are sequential, this has problematic implications for privacy as they provide identifying entropy for linking otherwise unlikable addresses.

This could be worked around by going against BIP 44 address discovery considerations, i.e. if all outputs use the same deriv

[2019-04-09 12:53] prusnak commented on #465
Can you elaborate more on that?  How does `HMAC(input_key, output)` used as a proof actually prove that the input DOES NOT come from the device?

[2019-04-10 12:07] tsusanka opened #545 "Implement Binance Coin"

[2019-04-10 13:21] tsusanka commented on #521
Have you tried reuploading the firmware? That means wiping and installing the fw again

[2019-04-10 13:33] ciny commented on #506
Based on discussion in meeting: we'll be displaying raw value and differentiate between blockheight/timestamp

locktime:
blockheight: 571032

or

locktime:
timestamp: 500 000 001

[2019-04-10 13:53] tsusanka commented on #533
Will be closed by #541

[2019-04-10 14:30] #529 closed

[2019-04-10 14:36] andrewkozlik commented on #300
Terminology:
- I would call this feature a "Wiping PIN" instead of "Erase PIN", to be more consistent with the current terminology.

Requirements:
- Do we want to support defining multiple wiping PINs on one device?
- When the device is unlocked, should it be possible to tell whether a wiping PIN is set?

Implementation notes:
- It should not be possible to tell whether a wiping PIN is set on the

[2019-04-10 15:36] tsusanka opened #546 "Try multisig in Electrum and check out path warnings"

[2019-04-10 15:37] tsusanka opened #547 "Implement support for Electrum cosign plugin"

[2019-04-10 15:41] prusnak commented on #546
There are three types of multisig supported in Trezor+Electrum:
* legacy (p2sh)
* p2sh segwit multisig
* native segwit multisig (bech32)

Resources:
* https://saleemrashid.com/2018/01/27/hardware-wallet-electrum-multisig/
* http://docs.electrum.org/en/latest/multisig.html

[2019-04-10 20:08] prodnet opened #548 "Protection of passphrase against keylogging and screenshot ?"
I noticed that there is no protection when entering passphrase in Trezor.io.
It would be great if you could implement a Anti-Keylogger secure Virtual Keyboard, such as Oxynger KeyShield.

Oxynger KeyShield is a secure, anti-screenshot and free virtual keyboard to protect passwords and other sensitive information from malicious programs and hacking. Oxynger KeyShield protects its keystrokes from ke

[2019-04-10 20:12] prusnak commented on #548
You can enter passphrase directly on Model T keyboard.

[2019-04-10 20:12] #548 closed

[2019-04-11 07:33] tsusanka commented on #506
So, @prusnak should we consider 0xFFFFFFFF and 0xFFFFFFFE as allowed values without confirmation? I believe so

[2019-04-11 07:59] tsusanka commented on #509
I was unable to reproduce this on current master, so it may indeed be solved by #162. I'll give this to @bosomt to try it out.

[2019-04-11 08:03] tsusanka commented on #162
Merged via bd812fe

[2019-04-11 08:03] #162 closed

[2019-04-11 08:08] tsusanka commented on #162
Btw the rotation obviously does not concern the bootloader, so if there is a bootloader splash screen, it is still rotated incorrectly. I think that's acceptable.

[2019-04-11 08:14] tsusanka commented on #162
Test cases:
- Swiping does not rotate the screen.
- You can change the rotation using trezorctl (`trezorctl set_display_rotation east`)
- This setting stays after un/plug.

[2019-04-11 08:21] tsusanka commented on #534
Closed by https://github.com/trezor/trezor-core/pull/536

[2019-04-11 08:21] #534 closed

[2019-04-11 08:23] tsusanka opened #550 "05/2019 test cases"
This issue will contain all test cases needed to be performed before the release. After freezing, testers should test:

----

[2019-04-11 08:29] bosomt commented on #509
i was able to reproduce it under 15sec :)
And yes it's most likely caused by rotate screen feature

[2019-04-11 08:34] tsusanka commented on #509
This was a misunderstanding. @bosomt was still trying 2.1.0. I've prepared a device with master code on it and will give it to testing.

[2019-04-11 08:59] prodnet commented on #548
And for the other customers who bought Trezor One, what solution do you propose?

[2019-04-11 09:31] prusnak commented on #548
Buy Model T or use Virtual Keyboard.

[2019-04-11 09:34] prusnak commented on #506
@tsusanka I got that mixed. 0xFFFFFFFF and 0xFFFFFFFE are nSequence values of the input. Transaction is RBF when all inputs have nSequence == 0xFFFFFFFE. No work is need to be done.

[2019-04-11 09:39] #506 closed

[2019-04-11 10:33] jpochyla commented on #495
Possible fix in 7533409

[2019-04-11 11:02] prusnak commented on #495
Seems like a good fix!

Can we prepare a firmware with the commit and try entering PIN incorrectly 10 times?

[2019-04-11 11:14] AdamISZ commented on #465
Just to answer this point, BIP84 wallet is already implemented now. It can be used for PayJoin (you can set native=true in the config, it's mentioned in the PayJoin doc), but as you note there's always a troublesome point in thinking about updating Joinmarket coinjoins, given the consensus-y nature. Thanks for raising the point though @kristapsk  !

[2019-04-11 11:43] ciny commented on #545
documentation to binance chain
https://binance-chain.github.io/index.html

[2019-04-11 12:00] ciny commented on #545
test vectors from official SDK, use values in our tests to verify implementation (java and go SDKs with tests also available)
https://github.com/binance-chain/javascript-sdk/tree/master/__tests__

[2019-04-11 12:08] #533 closed

[2019-04-11 12:10] tsusanka commented on #509
Unfortunately we were able to reproduce this with Seb :(

[2019-04-11 12:32] tsusanka commented on #509
Although we were able to reproduce this at the end, we had to swipe all the over the screen to get it frozen. I'm pretty sure we've improved it by #162. There's still an an edge case when it freezes, but I believe we can omit that for the time being and fix later if necessary.

----

So I'm assinging to Boso, so he can test if it really improved.

[2019-04-11 13:07] vladimirvolek commented on #521
It works great after reuploading the same firmware for the third time :))

[2019-04-11 13:07] #521 closed

[2019-04-11 13:22] prusnak commented on #545
Protocol buffers messages: https://github.com/trezor/trezor-common/blob/master/protob/messages-binance.proto

[2019-04-11 13:25] tsusanka commented on #495
LGTM. The screen does not flicker after 10th try. Branch master c55b6553.

Videos: https://streamable.com/6hy4v http://streamable.com/lwq0e

[2019-04-11 13:27] #495 closed

[2019-04-11 15:14] yuriygeorge commented on #506
Thanks!

[2019-04-11 20:37] prodnet commented on #548
Thank you for your reply.
I have one last question:
After fixing the vulnerabilities from firmware version 1.8, a attacker with the necessary technology and physically acces on to the device, can it extract the private keys or the seed?

[2019-04-12 16:44] jpochyla commented on #404
Let's also rethink the way passphrase state is computed.

[2019-04-15 20:44] prusnak commented on #122
We switch to the monorepo, please send PR there: https://github.com/trezor/trezor-firmware

[2019-04-15 20:44] #122 closed

[2019-04-16 14:13] tsusanka commented on #509
Closing now, it is partially fixed and partially replaced by https://github.com/trezor/trezor-firmware/issues/22

[2019-04-16 14:13] #509 closed

[2019-04-17 22:03] prusnak commented on #167
Let's reopen if this is still an issue.

[2019-04-17 22:03] #167 closed

[2019-04-18 10:59] tsusanka commented on #524
I wasn't able to finish this because I'm working on CI now. @prusnak could you move to monorepo please?

[2019-04-19 10:20] bosomt opened #553 "Trezor freezes in passphrase dialogue"
After some time you are asked to enter passphrase again.

![freeze](https://user-images.githubusercontent.com/31506317/56415178-4049cd00-628d-11e9-8e11-e876243499d8.png)

When you  select host: dialogue disapears
Select device: and then hit enter on display: device freezes every time /i was able to repproduce it 4x today/

Latest firmware. Chrome, Nixos

[2019-04-19 10:42] bosomt commented on #553
I was able to reproduce it in FW 2.0.10 too

[2019-04-19 14:11] tsusanka commented on #553
@prusnak will move this one, but from now one please open all issues on [trezor-firmware](https://github.com/trezor/trezor-firmware).

[2019-04-23 07:58] tsusanka commented on #524
@prusnak could we move this to trezor-firmware 06/2019? I won't be able to finish this today

[2019-05-02 04:57] Perlover opened #554 "Trezor T firmware buggy from upper case bech32 addresses"
Hi,

If to enter in the "Send" Tab at site [wallet.trezor.io](https://wallet.trezor.io) the upper-case bech32 address and to try to sign transaction i got always the "Firmware error" at site and i see circle progress bar 25% only in Trezor T screen. The upper-case Bech32 addresses are valid and they to be used in QR codes for optimization (for example the BLW wallet shows this format through QR co

[2019-05-06 14:45] Perlover commented on #554
Hi!

Any news? It's annoying problem. The bech32 addresses in upper case - it's recommended case for QR code. But your Trezor T has "firmware error" when spending to bech32 upper case address. I checked now in Elecutrum - same problem. It's not problem wallet.trezor.io for example. It's firmware bug.

[2019-05-06 15:01] prusnak commented on #554
Firmware expects lower case addresses. The software wallet should convert the letters to lower case before sending it to the device.

Thus this is a bug in Electrum: http://github.com/spesmilo/electrum

[2019-05-06 15:01] #554 closed, assigned to nobody

[2019-05-06 18:14] Perlover commented on #554
What about wallet.trezor.io (it's your project and there is same problem)?
And bech32 in upper case is valid address. I think the Trezor should understand valid address. What do you think? I think it is more correct to implement it at the firmware level - it is easier to do it there than to fix it in all the programs that work with Trezor.

[2019-05-07 10:03] prusnak commented on #554
It introduces unnecessary complexity into the firmware, that's why I want to do it in the software wallet.

[2019-05-09 12:57] fexra opened #555 "Ubuntu 18.04 unmet dependencies"
When following the build instructions for Ubuntu/Debian you are met with the following error:

[code]

The current way around this is to remove and downgrade the following dependencies using apitude or something similiar:

[code]

[2019-05-09 14:54] prusnak commented on #555
This is problem of your configuration because you have Steam installed, which introduces 32bit libraries.

[2019-05-09 14:54] #555 closed, assigned to nobody